@charset "UTF-8";

*{
    
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
}
header{
    width: 600px;
    background-color: aquamarine;
    padding: 30px;
    margin: 20px;
}
main{
    background-color: rgb(250, 225, 215);
    padding: 30px;
    margin: 20px;
}
footer{
    background-color: black;
    color: white;
    text-align: right;
    padding: 1px;
}
nav{
    background-color: rgb(250, 166, 135);
    padding: 2px;   
}
nav a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;   
    margin-right: 20px;
}
nav a:hover{
    text-decoration: underline;
}
