@charset "UTF-8";

*{
    
}

body{
    background-color: black;
    text-align: center;
}

div{
    background-color: aquamarine;
    text-align: center;
    height: 150px;
    width: 150px;
    border: 2px solid black;
    display: inline-block;
}
div:hover{
    background-color: darksalmon;
}


